/* Poppins Google Fonts Link Here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    /* border: 2px solid red; */
}

/* CSS Variables */
:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --bg-color: #FFFFFF;
    --other-color: #F1F1F1;
    --primary-color: #FF2E80;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Start Repeated Style */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.btn {
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    padding: 14px 32px;
    color: var(--white-color);
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin-right: 5px;
    cursor: pointer;
}

.section_title {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}


/* End Repeated Style */


/* Header Area Style */
header {
    position: relative;
}

/* Navbar */
nav {
    position: sticky;
    width: 100%;
    top: 0;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(2px);
    justify-content: space-between;
    transition: .35s ease;
}

.product_li {
    position: relative;
}

.dropdown_menu {
    position: absolute;
    top: 30%;
    left: -50px;
    padding: 5px 0px;
    text-align: center;
    width: 170px;
    border-radius: 0 0 15px 15px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    /* border: 2px solid rgb(153, 255, 0); */
}

.dropdown_menu li {
    margin: 5px 0;
}

.product_li:hover .dropdown_menu  {
    top: 100%;
    visibility: visible;
    opacity: 1;
    transition: .35s ease;
}

figure {
    cursor: pointer;
}

figure img {
    width: 100%;
    height: auto;
}

form {
    position: relative;
}

form input {
    width: 500px;
    height: 48px;
    padding: 12px 24px;
    border-radius: 66px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #1F1F1F;
    background: var(--other-color);
}

form i {
    position: absolute;
    top: 13px;
    right: 4%;
    font-size: 24px;
    color: #BABABA;
    cursor: pointer;
}

form input::placeholder {
    font-size: 16px;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav_list  a {
    color: #707070;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    transition: .35s ease;
}

.nav_list a:hover {
    color: var(--primary-color);
}

/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #FEEAE9;
    margin-top: 60px;
    border-radius: 15px;
    padding: 70px 46px;
}

.banner_left h1 {
    color: #1F1F1F;
    font-size: 56px;
    font-weight: 700;
}

.banner_left p {
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 400;
    max-width: 450px;
    margin: 14px 0;
}

.banner_left h3 {
    color: var(--primary-color);
    font-size: 41px;
    font-weight: 600;
    margin-bottom: 14px;
}

.btn i {
    font-size: 20px;
    vertical-align: middle;
}

.banner_right img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

/* Categories Section */
.categories_sec {
    margin-top: 64px;
}

.categories_card_container {
    display: flex;
    gap: 26px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 40px 0 80px;
    border-radius: 10px;
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
    flex: 1;
}

.cards h3 {
    color: var(--white-color);
    font-size: 36px;
    font-weight: 500;
}

.cards img {
    width: 100%;
    max-width: 120px;
    height: auto;
    cursor: pointer;
    transition: all .35s ease;
}

.cards img:hover {
    transform: scale(1.08);
}

.cards:nth-child(2) {
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}

.cards:nth-child(3) {
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}


/* shoes_backpack_sec */
.shoes_backpack_sec {
    background: #F4F4F4;
}

.section_title_card {
    padding: 50px 0;
}

.section_title_card h4 {
    font-size: 36px;
    font-weight: 600;
    color: #1F1F1F;
}

.section_title_card p {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.shoes_backpack_parant {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 80px;
}

.section_title_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shoes_card {
    background-color: var(--bg-color);
    text-align: center;
    border-radius: 10px;
    padding: 25px;
    cursor: pointer;
    transition: all .35s ease;
}


.shoes_card img {
    width: 100%;
    max-width: 336px;
    transition: all .35s ease;
    height: auto;
}

.shoes_card img:hover {
    transform: scale(1.02);
}

.shoes_card h2 {
    font-size: 24px;
    font-weight: 600;
}

.shoes_card p {
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
}

.shoes_card h4 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.shoes_card .btn {
    background: #000000;
}

/* contact_us_sec */
.contact_us_sec {
    background-color: #FFF2F1;
    text-align: center;
    padding: 100px 150px;
    margin: 75px auto;
}

.contact_us_sec h2 {
    color: #1F1F1F;
    font-size: 30px;
    font-weight: 600;
}

.contact_us_sec p {
    color: #707070;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact_input {
    display: flex;
    justify-content: center;

}

.contact_input .btn {
    border-radius: 0 10px 10px 0;
}

.contact_us_sec input {
    width: 400px;
    border: none;
    padding: 20px 32px;
    border-radius: 10px 0 0 10px;
}